<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="author" content="Samarth Jain" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Weather App</title>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>

  <body>
    <div id="sj-main">
      <div id="content">
        <h1>Weather</h1> <hr /> <br />

        <form action="/getweather" method="post">
          <input type="text" name="cityinp" id="cityinp" class="btn btn-outline-light" />
          <select name="selectcity" id="selectcity" class="btn btn-outline-light" >
            <option value="Choose city">Choose city</option>
          </select ><br /><br />
          <input type="submit" value="Get weather" class="btn btn-primary px-5" />
        </form> <br /> <hr />

        <div id="weather">
          <p>
            <span>lon : N/A</span>
            <span>lat : N/A</span>
          </p>

          <p><span>Weather desc</span> <span>-</span></p>
          <p><span>Temperature</span> <span>-</span></p>
          <p><span>Visibility</span> <span>-</span></p>
          <p><span>wind speed</span> <span>-</span></p>
        </div>
      </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.0/gsap.min.js" integrity="sha512-GQ5/eIhs41UXpG6fGo4xQBpwSEj9RrBvMuKyE2h/2vw3a9x85T1Bt0JglOUVJJLeyIUl/S/kCdDXlE/n7zCjIg==" crossorigin="anonymous" referrerpolicy="no-referrer" ></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.1.2/axios.min.js" integrity="sha512-bHeT+z+n8rh9CKrSrbyfbINxu7gsBmSHlDCb3gUF1BjmjDzKhoKspyB71k0CIRBSjE5IVQiMMVBgCWjF60qsvA==" crossorigin="anonymous" referrerpolicy="no-referrer" ></script>
    <script src="/javascripts/script.js"></script>
  </body>
</html>
